

<section class="cmt-form">
    <div class="block-title">
        <h2>填写健康指数</h2>
    </div>
    
        @Html.TextArea("strContent", new { @class = "addres_addtextarea", @placeholder = "请输入空腹血糖、晚餐前后用量，限制200个字" })

        <div class="addres_btn mt15 mb15 f16" onclick="saveMessage();">提交</div>
    
    
</section>
