@{
    ViewBag.Title = "健康指数";
    Layout = "~/Views/Shared/_MLayout.cshtml";
}
<script type="text/javascript" src="@Url.Content("~/js/dropload.js")"></script>
<!--到货通知-->
<div id="indexData">
    @Html.Action("Index", "Message")
</div>

